info:
- plus (L) strand
- minus (H) strand 
- positions in the abasic sites table are 1-based (there are position 16299 in the table)

In [1]:
from collections import defaultdict

import ete3
from ete3 import PhyloTree
from Bio import SeqIO

import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 64)

In [2]:
PATH_TO_DATA = './data/'
path_to_refseq = PATH_TO_DATA + 'mm10_ChrM_oneline.fasta'
path_to_genbank = PATH_TO_DATA + 'NC_005089.1.gb'
path_to_abasic_data = PATH_TO_DATA + '41467_2022_33594_MOESM26_ESM.csv'

In [3]:
refseq = str(next(SeqIO.parse(path_to_refseq, 'fasta')).seq)
genbank = next(SeqIO.parse(path_to_genbank, 'genbank'))

assert genbank.seq == refseq

In [4]:
# BED format: 0-based positions, Start included, End excluded
abasic = pd.read_csv(path_to_abasic_data, sep=';')
abasic.head()

  Chr(mm10)  Start(mm10)  End(mm10)  NumberOfReads Strand
0      chrM           68         69              1      +
1      chrM           69         70              2      +
2      chrM           70         71              1      +
3      chrM           74         75              4      +
4      chrM           81         82              2      +

In [5]:
genbank.features[-6:]

[SeqFeature(FeatureLocation(ExactPosition(15422), ExactPosition(16299), strand=1), type='D-loop'),
 SeqFeature(FeatureLocation(ExactPosition(15450), ExactPosition(15509), strand=1), type='misc_feature'),
 SeqFeature(FeatureLocation(ExactPosition(15514), ExactPosition(15558), strand=1), type='misc_feature'),
 SeqFeature(FeatureLocation(ExactPosition(16034), ExactPosition(16058), strand=1), type='misc_feature'),
 SeqFeature(FeatureLocation(ExactPosition(16088), ExactPosition(16104), strand=1), type='misc_feature'),
 SeqFeature(FeatureLocation(ExactPosition(16113), ExactPosition(16131), strand=1), type='misc_feature')]

In [6]:
DLOOP_START = 15422 # 0-based

In [7]:
# 0-based
# collect triplets on mm10

df = pd.DataFrame([[i, x] for i, x in enumerate(refseq, 0)], columns=['site', 'nuc'])
df['down'] = [''] + list(df.nuc.values[:-1])
df['up'] = list(df.nuc.values[1:]) + ['']
df['triplet'] = df['down'].str.lower() + df['nuc'] + df['up'].str.lower()
df = df[(df.triplet.str.len() == 3) & (df.site < DLOOP_START)]
df[['site', 'down', 'nuc', 'up', 'triplet']]

        site down nuc up triplet
1          1    G   T  T     gTt
2          2    T   T  A     tTa
3          3    T   A  A     tAa
4          4    A   A  T     aAt
5          5    A   T  G     aTg
...      ...  ...  .. ..     ...
15417  15417    T   T  C     tTc
15418  15418    T   C  T     tCt
15419  15419    C   T  T     cTt
15420  15420    T   T  G     tTg
15421  15421    T   G  A     tGa

[15421 rows x 5 columns]

In [8]:
# merge AP sites data with mm10 triplets (site-specific)
merged = df.merge(abasic, right_on='Start(mm10)', left_on='site')

In [9]:
merged.Strand.value_counts()

-    8422
+    5919
Name: Strand, dtype: int64

In [10]:
merged

,site,nuc,down,up,triplet,Chr(mm10),Start(mm10),End(mm10),NumberOfReads,Strand
0,2,T,T,A,tTa,chrM,2,3,2,-
1,3,A,T,A,tAa,chrM,3,4,1,-
2,4,A,A,T,aAt,chrM,4,5,2,-
3,5,T,A,G,aTg,chrM,5,6,4,-
4,6,G,T,T,tGt,chrM,6,7,2,-
...,...,...,...,...,...,...,...,...,...,...
14336,15408,T,T,A,tTa,chrM,15408,15409,1,-
14337,15409,A,T,A,tAa,chrM,15409,15410,2,-
14338,15410,A,A,A,aAa,chrM,15410,15411,2,-
14339,15411,A,A,C,aAc,chrM,15411,15412,1,-
14340,15412,C,A,T,aCt,chrM,15412,15413,2,-

In [11]:
# calculate coverage af AP sites on triplets, i.e. AP sites frequency for each triplet
coverage = merged.groupby(['Strand', 'triplet']).NumberOfReads.sum().reset_index()
coverage

    Strand triplet  NumberOfReads
0        +     aAa            510
1        +     aAc            327
2        +     aAg            224
3        +     aAt            370
4        +     aCa            257
..     ...     ...            ...
123      -     tGt            136
124      -     tTa           1581
125      -     tTc           3308
126      -     tTg           1710
127      -     tTt            421

[128 rows x 3 columns]

In [12]:
# calculate trinucleotide counts on genome (like expected values)
triplet_counts = defaultdict(int)
for i in range(1, len(refseq)-1):
    tri = refseq[i-1: i+2].lower()
    tri = tri[0] + tri[1].upper() + tri[2]
    triplet_counts[tri] += 1

len(triplet_counts)

64

In [13]:
triplet_counts_df = pd.Series(triplet_counts).rename('count').to_frame()
triplet_counts_df.index.rename('triplet', inplace=True)
triplet_counts_df = triplet_counts_df.reset_index()
triplet_counts_df.head()

  triplet  count
0     gTt    123
1     tTa    506
2     tAa    560
3     aAt    574
4     aTg    196

In [15]:
# need to get reverse complements of H-strand ('-')
transcriptor = str.maketrans("ACGTacgt", "TGCAtgca")


def rev_comp(mut: str):
    new_mut = mut[-1] + mut[1:-1] + mut[0]
    new_mut = new_mut.translate(transcriptor)
    return new_mut

rev_comp('aCg')

'cGt'

In [16]:
ap_cov = coverage.merge(triplet_counts_df, on='triplet')
ap_cov['triplet_true'] = ap_cov['triplet']
ap_cov.loc[ap_cov['Strand'] == '-', 'triplet_true'] = \
    ap_cov.loc[ap_cov['Strand'] == '-', 'triplet_true'].apply(rev_comp)
ap_cov['APcount_norm'] = ap_cov['NumberOfReads'] / ap_cov['count']
ap_cov

    Strand triplet  NumberOfReads  count triplet_true  APcount_norm
0        +     aAa            510    642          aAa      0.794393
1        -     aAa            661    642          tTt      1.029595
2        +     aAc            327    485          aAc      0.674227
3        -     aAc           2002    485          gTt      4.127835
4        +     aAg            224    211          aAg      1.061611
..     ...     ...            ...    ...          ...           ...
123      -     tTc           3308    367          gAa      9.013624
124      +     tTg            156    146          tTg      1.068493
125      -     tTg           1710    146          cAa     11.712329
126      +     tTt            196    356          tTt      0.550562
127      -     tTt            421    356          aAa      1.182584

[128 rows x 6 columns]

In [17]:
# final table with AP sites adjusted counts
# '-' strand is H
# '+' strand is L
results = ap_cov.pivot('triplet_true', 'Strand', 'APcount_norm')
results.sort_values('-')

Strand               +          -
triplet_true
aCt           0.547558   0.560241
aCc           0.487324   0.673684
aTt           0.507018   0.675958
aTa           0.446640   0.758893
aTc           0.451187   0.816993
aTg           0.688776   0.889952
aAc           0.674227   0.894309
aAt           0.644599   1.001754
tTt           0.550562   1.029595
aGc           0.714844   1.172414
aAa           0.794393   1.182584
aCg           0.563636   1.275362
aCa           0.620773   1.307692
tTa           0.561265   1.353571
aGa           0.597015   1.518405
tTc           1.021798   1.738589
aGg           1.364162   1.788889
aGt           0.692771   1.861183
tCt           0.975460   1.870647
aAg           1.061611   2.095092
tTg           1.068493   2.106383
cCc           1.913194   2.603448
tAt           1.494071   2.717391
cTt           1.315951   2.853081
tCc           1.440000   2.876543
cCt           1.944444   2.942197
tAa           2.250000   3.124506
tCa           1.138191   3.349057
tCg           1.511628   3.678161
cTc           1.976190   3.735537
gTt           2.463415   4.127835
tAc           1.673529   4.366864
gCt           2.068966   4.460938
tGa           1.820755   4.525126
cAc           3.523649   4.875000
tGc           1.861111   4.957576
gTa           2.568047   4.964706
gAc           2.421769   5.103448
gTc           1.873563   5.183673
tGt           2.519231   5.304348
cTa           2.383858   5.325088
gAt           3.830065   5.366755
tAg           3.247350   5.889764
gCc           1.833333   6.121951
gTg           3.160714   6.523649
cAt           3.550239   6.693878
tGg           3.481481   6.750000
cTg           3.141791   6.784530
cCa           2.030928   7.101852
gGa           4.814815   8.170909
gCa           2.206061   8.240741
cCg           3.000000   8.724138
cGc           2.287671   8.913043
gAa           4.419087   9.013624
gGc           2.890244   9.263441
gGg           6.068966  10.593750
gGt           5.610526  10.723944
cAa           3.900000  11.712329
cGa           2.666667  12.081395
gCg           6.782609  12.136986
gAg           7.537190  13.119048
cGt           3.985507  15.009091
cAg           6.845304  16.305970
cGg           7.568966  19.750000

## check with modified approach by VSh (scripts)

In [18]:
vsh_results = pd.read_csv('../data/AbasicSitesMtDNAcontext_HLcompare.csv', sep=';')
vsh_results

,tripletH,origtriH,countH,deepcountH,avgH,tripletL,countL,deepcountL,avgL
0,tTt,aAa,642,661,1.029595,tTt,356,196,0.550562
1,aTt,aAt,574,388,0.675958,aTt,570,289,0.507018
2,cTt,aAg,211,602,2.853081,cTt,326,429,1.315951
3,gTt,aAc,485,2002,4.127835,gTt,123,303,2.463415
4,tAt,aTa,506,1375,2.717391,tAt,506,756,1.494071
5,aAt,aTt,570,571,1.001754,aAt,574,370,0.644599
6,cAt,aTg,196,1312,6.693878,cAt,418,1484,3.550239
7,gAt,aTc,379,2034,5.366755,gAt,153,586,3.830065
8,tCt,aGa,201,376,1.870647,tCt,326,318,0.975460
9,aCt,aGt,166,93,0.560241,aCt,389,213,0.547558
10,cCt,aGg,173,509,2.942197,cCt,360,700,1.944444
11,gCt,aGc,256,1142,4.460938,gCt,145,300,2.068966
12,tGt,aCa,414,2196,5.304348,tGt,104,262,2.519231
13,aGt,aCt,389,724,1.861183,aGt,166,115,0.692771
14,cGt,aCg,110,1651,15.009091,cGt,69,275,3.985507
15,gGt,aCc,355,3807,10.723944,gGt,95,533,5.610526
16,tTa,tAa,560,758,1.353571,tTa,506,284,0.561265
17,aTa,tAt,506,384,0.758893,aTa,506,226,0.446640
18,cTa,tAg,283,1507,5.325088,cTa,508,1211,2.383858
19,gTa,tAc,340,1688,4.964706,gTa,169,434,2.568047
20,tAa,tTa,506,1581,3.124506,tAa,560,1260,2.250000
21,aAa,tTt,356,421,1.182584,aAa,642,510,0.794393
22,cAa,tTg,146,1710,11.712329,cAa,470,1833,3.900000
23,gAa,tTc,367,3308,9.013624,gAa,241,1065,4.419087
24,tCa,tGa,212,710,3.349057,tCa,398,453,1.138191
25,aCa,tGt,104,136,1.307692,aCa,414,257,0.620773
26,cCa,tGg,108,767,7.101852,cCa,388,788,2.030928
27,gCa,tGc,108,890,8.240741,gCa,165,364,2.206061
28,tGa,tCa,398,1801,4.525126,tGa,212,386,1.820755
29,aGa,tCt,326,495,1.518405,aGa,201,120,0.597015
30,cGa,tCg,86,1039,12.081395,cGa,87,232,2.666667
31,gGa,tCc,275,2247,8.170909,gGa,162,780,4.814815
32,tTc,gAa,241,419,1.738589,tTc,367,375,1.021798
33,aTc,gAt,153,125,0.816993,aTc,379,171,0.451187
34,cTc,gAg,121,452,3.735537,cTc,252,498,1.976190
35,gTc,gAc,147,762,5.183673,gTc,87,163,1.873563
36,tAc,gTa,169,738,4.366864,tAc,340,569,1.673529
37,aAc,gTt,123,110,0.894309,aAc,485,327,0.674227
38,cAc,gTg,56,273,4.875000,cAc,296,1043,3.523649
39,gAc,gTc,87,444,5.103448,gAc,147,356,2.421769
40,tCc,gGa,162,466,2.876543,tCc,275,396,1.440000
41,aCc,gGt,95,64,0.673684,aCc,355,173,0.487324
42,cCc,gGg,58,151,2.603448,cCc,288,551,1.913194
43,gCc,gGc,82,502,6.121951,gCc,186,341,1.833333
44,tGc,gCa,165,818,4.957576,tGc,108,201,1.861111
45,aGc,gCt,145,170,1.172414,aGc,256,183,0.714844
46,cGc,gCg,23,205,8.913043,cGc,73,167,2.287671
47,gGc,gCc,186,1723,9.263441,gGc,82,237,2.890244
48,tTg,cAa,470,990,2.106383,tTg,146,156,1.068493
49,aTg,cAt,418,372,0.889952,aTg,196,135,0.688776
50,cTg,cAg,181,1228,6.784530,cTg,134,421,3.141791
51,gTg,cAc,296,1931,6.523649,gTg,56,177,3.160714
52,tAg,cTa,508,2992,5.889764,tAg,283,919,3.247350
53,aAg,cTt,326,683,2.095092,aAg,211,224,1.061611
54,cAg,cTg,134,2185,16.305970,cAg,181,1239,6.845304
55,gAg,cTc,252,3306,13.119048,gAg,121,912,7.537190
56,tCg,cGa,87,320,3.678161,tCg,86,130,1.511628
57,aCg,cGt,69,88,1.275362,aCg,110,62,0.563636
58,cCg,cGg,58,506,8.724138,cCg,68,204,3.000000
59,gCg,cGc,73,886,12.136986,gCg,23,156,6.782609
60,tGg,cCa,388,2619,6.750000,tGg,108,376,3.481481
61,aGg,cCt,360,644,1.788889,aGg,173,236,1.364162
62,cGg,cCg,68,1343,19.750000,cGg,58,439,7.568966
63,gGg,cCc,288,3051,10.593750,gGg,58,352,6.068966

In [19]:
vsh_results = vsh_results.merge(results, left_on='tripletH', right_index=True)

assert (vsh_results.avgH - vsh_results['-']).max().round(2) == 0
assert (vsh_results.avgL - vsh_results['+']).max().round(2) == 0